<div class="side-header">
  <div class="header-name">
    <a href="#">Tom</a>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
   <div class="room-name">
    <a href="#">snowman1</a>
   </div>
  </div>
  <div class="room">
   <div class="room-name">
    <a href="#">snowman2</a>
   </div>
  </div>
  <div class="room">
   <div class="room-name">
    <a href="#">snowman3</a>
   </div>
  </div>
  <div class="room">
   <div class="room-name">
    <a href="#">snowman4</a>
   </div>
  </div>
  <div class="room">
   <div class="room-name">
    <a href="#">snowman5</a>
   </div>
  </div>
  <div class="room">
   <div class="room-name">
    <a href="#">snowman6</a>
   </div>
  </div>
    <div class="room">
     <div class="room-name">
    <a href="#">snowman7</a>
   </div>
  </div>
  <div class="room">
   <div class="room-name">
    <a href="#">snowman8</a>
   </div>
  </div>
  <div class="room">
   <div class="room-name">
    <a href="#">snowman9</a>
   </div>
  </div>
    <div class="room">
     <div class="room-name">
    <a href="#">snowman10</a>
   </div>
  </div>
  <div class="room">
   <div class="room-name">
    <a href="#">snowman11</a>
   </div>
  </div>
  <div class="room">
   <div class="room-name">
    <a href="#">snowman12</a>
   </div>
  </div>
</div>